build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/Project.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-e4c2aedfcf2e2f42f6e0.json
build/.cmake/api/v1/reply/codemodel-v2-3acd87b3bd5b3ef1ae81.json
build/.cmake/api/v1/reply/index-2020-10-03T10-16-03-0585.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-a6b161d3020aa24f2365.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-a6b161d3020aa24f2365.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-a6b161d3020aa24f2365.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-a6b161d3020aa24f2365.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-f83ca5f46d2639725a0b.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-f83ca5f46d2639725a0b.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-f83ca5f46d2639725a0b.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-f83ca5f46d2639725a0b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.17.2/CMakeCCompiler.cmake
build/CMakeFiles/3.17.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.17.2/CMakeSystem.cmake
build/CMakeFiles/3.17.2/VCTargetsPath.txt
build/CMakeFiles/3.17.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.17.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.17.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.17.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.17.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.17.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.17.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.17.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/b968f750afbf5e3bb83e0e60a1549cd9/generate.stamp.rule
build/spike_lib.vcxproj
build/spike_lib.vcxproj.filters
build/spike.sln
build/.cmake/api/v1/reply/cache-v2-78008012786a13c04e12.json
build/.cmake/api/v1/reply/codemodel-v2-37c90f9f88187ddba36f.json
build/.cmake/api/v1/reply/index-2020-10-03T10-26-41-0581.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-f49e2bf5d0bcf5563bba.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-f49e2bf5d0bcf5563bba.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-f49e2bf5d0bcf5563bba.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-f49e2bf5d0bcf5563bba.json
build/.cmake/api/v1/reply/target-spike_lib-Debug-45f95d86c800a9532ac7.json
build/.cmake/api/v1/reply/target-spike_lib-MinSizeRel-c5d2b89e0e8017a76032.json
build/.cmake/api/v1/reply/target-spike_lib-Release-62e2967ab3e20f9d91ae.json
build/.cmake/api/v1/reply/target-spike_lib-RelWithDebInfo-8e5c409ca9d2464bd1f2.json
build/.cmake/api/v1/reply/codemodel-v2-114b3979d057f9e89110.json
build/.cmake/api/v1/reply/index-2020-10-03T10-53-06-0260.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-b7facffb37eecbb5e035.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-b7facffb37eecbb5e035.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-b7facffb37eecbb5e035.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-b7facffb37eecbb5e035.json
.vscode/settings.json
build/.cmake/api/v1/reply/index-2020-10-03T10-58-31-0682.json
build/test.vcxproj
build/test.vcxproj.filters
build/.cmake/api/v1/reply/codemodel-v2-d6385438c474d3c9f5ae.json
build/.cmake/api/v1/reply/index-2020-10-03T16-04-35-0794.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-5eb6772d39832153d2e5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-5eb6772d39832153d2e5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-5eb6772d39832153d2e5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-5eb6772d39832153d2e5.json
build/.cmake/api/v1/reply/target-spike_lib-Debug-15fc8a1ec04babf0e6f9.json
build/.cmake/api/v1/reply/target-spike_lib-MinSizeRel-b1d539e65d55db5cad9e.json
build/.cmake/api/v1/reply/target-spike_lib-Release-b8d9ffc5cce4706ef74b.json
build/.cmake/api/v1/reply/target-spike_lib-RelWithDebInfo-654ca6759e4bb760e4d8.json
build/.cmake/api/v1/reply/target-test-Debug-1d618b2f677ad6fdc92a.json
build/.cmake/api/v1/reply/target-test-MinSizeRel-3cae9611aa3c0af36a8d.json
build/.cmake/api/v1/reply/target-test-Release-98d8a334c879ae2ea3a2.json
build/.cmake/api/v1/reply/target-test-RelWithDebInfo-adc1aa6c9011e6b490db.json
build/Release/spike_lib.lib
build/Release/test.exe
build/spike_lib.dir/Release/spike_lib.obj
build/spike_lib.dir/Release/spike_lib.tlog/CL.command.1.tlog
build/spike_lib.dir/Release/spike_lib.tlog/CL.read.1.tlog
build/spike_lib.dir/Release/spike_lib.tlog/CL.write.1.tlog
build/spike_lib.dir/Release/spike_lib.tlog/CustomBuild.command.1.tlog
build/spike_lib.dir/Release/spike_lib.tlog/CustomBuild.read.1.tlog
build/spike_lib.dir/Release/spike_lib.tlog/CustomBuild.write.1.tlog
build/spike_lib.dir/Release/spike_lib.tlog/Lib-link.read.1.tlog
build/spike_lib.dir/Release/spike_lib.tlog/Lib-link.write.1.tlog
build/spike_lib.dir/Release/spike_lib.tlog/Lib.command.1.tlog
build/spike_lib.dir/Release/spike_lib.tlog/spike_lib.lastbuildstate
build/test.dir/Release/test.tlog/CL.command.1.tlog
build/test.dir/Release/test.tlog/CustomBuild.command.1.tlog
build/test.dir/Release/test.tlog/CustomBuild.read.1.tlog
build/test.dir/Release/test.tlog/CustomBuild.write.1.tlog
build/test.dir/Release/test.tlog/link.command.1.tlog
build/test.dir/Release/test.tlog/link.read.1.tlog
build/test.dir/Release/test.tlog/link.write.1.tlog
build/test.dir/Release/test.tlog/test.lastbuildstate
build/test.dir/Release/test.tlog/unsuccessfulbuild
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/test.dir/Release/test.obj
build/test.dir/Release/test.tlog/CL.read.1.tlog
build/test.dir/Release/test.tlog/CL.write.1.tlog
build/.cmake/api/v1/reply/codemodel-v2-dcb3200a428e5b9e881f.json
build/.cmake/api/v1/reply/index-2020-10-03T21-39-06-0462.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-69da61913f0b22e4d1e1.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-69da61913f0b22e4d1e1.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-69da61913f0b22e4d1e1.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-69da61913f0b22e4d1e1.json
build/.cmake/api/v1/reply/index-2020-10-03T21-43-36-0183.json
build/.cmake/api/v1/reply/codemodel-v2-4b17ada34532e8c20ed3.json
build/.cmake/api/v1/reply/index-2020-10-03T21-45-01-0446.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-192d0e9b47a68d419d1f.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-192d0e9b47a68d419d1f.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-192d0e9b47a68d419d1f.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-192d0e9b47a68d419d1f.json
